@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sharpie-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Sharpie-Bold.woff2') format('woff2');
}

@layer base {
  body {
    background-color: #f3f4f6;
    opacity: 1;
    background-image:  linear-gradient(#F1F1F1 2px, transparent 2px), linear-gradient(90deg, #F1F1F1 2px, transparent 2px), linear-gradient(#F1F1F1 1px, transparent 1px), linear-gradient(90deg, #F1F1F1 1px, #f3f4f6 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  }
  h1 {
    font-family: 'Sharpie-Bold', sans-serif;
  }
}

/* fade transition */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* race loader */

.race-by {
  --uib-size: 160px;
  --uib-speed: 1.4s;
  --uib-color: #57534e;
  --uib-line-weight: 7px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-line-weight);
  width: var(--uib-size);
  border-radius: calc(var(--uib-line-weight) / 2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.race-by::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  opacity: 0.1;
}

.race-by::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  animation: raceBy var(--uib-speed) ease-in-out infinite;
  transform: translateX(-100%);
  background-color: var(--uib-color);
}

@keyframes raceBy {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}