@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sharpie-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Sharpie-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Ranade';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Ranade-Thin.woff2') format('woff2');
}


@font-face {
  font-family: 'Ranade';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Ranade-ThinItalic.woff2') format('woff2');
}


@font-face {
  font-family: 'Ranade';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Ranade-Light.woff2') format('woff2');
}


@font-face {
  font-family: 'Ranade';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Ranade-LightItalic.woff2') format('woff2');
}


@font-face {
  font-family: 'Ranade';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Ranade-Regular.woff2') format('woff2');
}


@font-face {
  font-family: 'Ranade';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Ranade-Italic.woff2') format('woff2');
}


@font-face {
  font-family: 'Ranade';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Ranade-Medium.woff2') format('woff2');
}


@font-face {
  font-family: 'Ranade';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Ranade-MediumItalic.woff2') format('woff2');
}


@font-face {
  font-family: 'Ranade';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Ranade-Bold.woff2') format('woff2');
}


@font-face {
  font-family: 'Ranade';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Ranade-BoldItalic.woff2') format('woff2');
}

@layer base {
  body {
    font-family: 'Ranade', sans-serif;
  }
  h1 {
    font-family: 'Sharpie-Bold', sans-serif;
  }
}